p {
    margin: 0;
    text-indent: 3ch;
}

body{
    background-color: rgb(228, 228, 228);
}

h1{
    text-decoration: underline;
    text-align: center; 
    color: rgb(0, 0, 0);
}

footer{
    box-sizing: border-box;  
}

.quotegrid{
    display: grid;
    gap: 1rem;
    /*grid-template-columns: repeat(4, 1fr);*/
}

.toplinks{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

a:hover {
    background-color: rgba(255, 255, 0, 0.25);
  }